<form action="<%= cat_url(@cat)%>" method = "post">
  <input type="hidden" name="_method" value="patch">

  <label> Birthdate:
    <input type="text" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  </label>
  <br />

  <label for="cat[color]"> Choose a Color:
    <%# <%<% <input type="text" name="cat[color]" value="<%= @cat.color  %>
  </label>
  <select name="cat[color]" id="cat[color]">
  <% Cat::CAT_COLORS.each do |color| %>
      <option value=color><%= color %></option>
      <% end %>
  </select>
  <br />

  <label> Name:
    <input type="text" name="cat[name]" value="<%= @cat.name  %>">
  </label>
  <br />

  <label> Sex:
    <input type="text" name="cat[sex]" value="<%= @cat.sex  %>">
  </label>
  <br />

  <label> Description:
    <input type="text" name="cat[description]" value="<%= @cat.description %>">
  </label>
  <br />
  <div><%= @cat.errors.full_messages %></div>
  <input type="submit" value="Update Cat">

  </form>